doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    block content

     
      
      
      
     #test
        canvas(width='1500', height='500')
        a(href='#' id='')
          #word3.word.shimmer Follow me, but be cautious, your heart may deceive you.

 


    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Lato:300')
    link(href='http://fonts.googleapis.com/css?family=Great+Vibes', rel='stylesheet', type='text/css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/javascripts/index3.js')
